RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

# USER ROLE
RewriteRule ^role$ controllers/settings/user/role/role.php [L]
RewriteRule ^role/([0-9]+)$ controllers/settings/user/role/role.php?roleid=$1 [L]
RewriteRule ^role/active/([0-9]+)$ controllers/settings/user/role/active.php?roleid=$1 [L]
RewriteRule ^role/page/([0-9]+)$ controllers/settings/user/role/page.php?start=$1 [L]

# USER SYSTEM
RewriteRule ^system$ controllers/settings/user/system/system.php [L]
RewriteRule ^system/([0-9]+)$ controllers/settings/user/system/system.php?systemid=$1 [L]
RewriteRule ^system/active/([0-9]+)$ controllers/settings/user/system/active.php?systemid=$1 [L]
RewriteRule ^system/page/([0-9]+)$ controllers/settings/user/system/page.php?start=$1 [L]
RewriteRule ^system/search$ controllers/settings/user/system/search.php [L]

# USER ADMIN
RewriteRule ^admin$ controllers/settings/user/admin/admin.php [L]
RewriteRule ^admin/([0-9]+)$ controllers/settings/user/admin/admin.php?adminid=$1 [L]
RewriteRule ^admin/active/([0-9]+)$ controllers/settings/user/admin/active.php?adminid=$1 [L]
RewriteRule ^admin/page/([0-9]+)$ controllers/settings/user/admin/page.php?start=$1 [L]
RewriteRule ^admin/search$ controllers/settings/user/admin/search.php [L]

# USER OTHER
RewriteRule ^other$ controllers/settings/user/other/other.php [L]
RewriteRule ^other/([0-9]+)$ controllers/settings/user/other/other.php?otherid=$1 [L]
RewriteRule ^other/active/([0-9]+)$ controllers/settings/user/other/active.php?otherid=$1 [L]
RewriteRule ^other/page/([0-9]+)$ controllers/settings/user/other/page.php?start=$1 [L]
RewriteRule ^other/search$ controllers/settings/user/other/search.php [L]

# SETTINGS DEPARTMENT
RewriteRule ^department$ controllers/settings/department/department.php [L]
RewriteRule ^department/([0-9]+)$ controllers/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^department/active/([0-9]+)$ controllers/settings/department/active.php?departmentid=$1 [L]
RewriteRule ^department/page/([0-9]+)$ controllers/settings/department/page.php?start=$1 [L]
RewriteRule ^department/search$ controllers/settings/department/search.php [L]

# SETTINGS EMPLOYEES
RewriteRule ^employees$ controllers/employees/employees.php [L]
RewriteRule ^employees/([0-9]+)$ controllers/employees/employees.php?employeesid=$1 [L]
RewriteRule ^employees/active/([0-9]+)$ controllers/employees/active.php?employeesid=$1 [L]
RewriteRule ^employees/page/([0-9]+)$ controllers/employees/page.php?start=$1 [L]
RewriteRule ^employees/search$ controllers/employees/search.php [L]