RewriteEngine On
# use for authentication
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

Header set Access-Control-Allow-Origin *

# USER ROLE
RewriteRule ^role$ controllers/settings/user/role/role.php [L]
RewriteRule ^role/([0-9]+)$ controllers/settings/user/role/role.php?roleid=$1 [L]
RewriteRule ^role/active/([0-9]+)$ controllers/settings/user/role/active.php?roleid=$1 [L]
RewriteRule ^role/page/([0-9]+)$ controllers/settings/user/role/page.php?start=$1 [L]

# USER SYSTEM
RewriteRule ^system$ controllers/settings/user/system/system.php [L]
RewriteRule ^system/([0-9]+)$ controllers/settings/user/system/system.php?systemid=$1 [L]
RewriteRule ^system/active/([0-9]+)$ controllers/settings/user/system/active.php?systemid=$1 [L]
RewriteRule ^system/page/([0-9]+)$ controllers/settings/user/system/page.php?start=$1 [L]
RewriteRule ^system/search$ controllers/settings/user/system/search.php [L]

# USER ADMIN
RewriteRule ^admin$ controllers/settings/user/admin/admin.php [L]
RewriteRule ^admin/([0-9]+)$ controllers/settings/user/admin/admin.php?adminid=$1 [L]
RewriteRule ^admin/active/([0-9]+)$ controllers/settings/user/admin/active.php?adminid=$1 [L]
RewriteRule ^admin/page/([0-9]+)$ controllers/settings/user/admin/page.php?start=$1 [L]
RewriteRule ^admin/search$ controllers/settings/user/admin/search.php [L]

# USER OTHER
RewriteRule ^other$ controllers/settings/user/other/other.php [L]
RewriteRule ^other/([0-9]+)$ controllers/settings/user/other/other.php?otherid=$1 [L]
RewriteRule ^other/active/([0-9]+)$ controllers/settings/user/other/active.php?otherid=$1 [L]
RewriteRule ^other/page/([0-9]+)$ controllers/settings/user/other/page.php?start=$1 [L]
RewriteRule ^other/search$ controllers/settings/user/other/search.php [L]

# SETTINGS DEPARTMENT
RewriteRule ^department$ controllers/settings/department/department.php [L]
RewriteRule ^department/([0-9]+)$ controllers/settings/department/department.php?departmentid=$1 [L]
RewriteRule ^department/active/([0-9]+)$ controllers/settings/department/active.php?departmentid=$1 [L]
RewriteRule ^department/page/([0-9]+)$ controllers/settings/department/page.php?start=$1 [L]
RewriteRule ^department/search$ controllers/settings/department/search.php [L]

# SETTINGS EMPLOYEES
RewriteRule ^employees$ controllers/employees/employees.php [L]
RewriteRule ^employees/([0-9]+)$ controllers/employees/employees.php?employeesid=$1 [L]
RewriteRule ^employees/active/([0-9]+)$ controllers/employees/active.php?employeesid=$1 [L]
RewriteRule ^employees/page/([0-9]+)$ controllers/employees/page.php?start=$1 [L]
RewriteRule ^employees/search$ controllers/employees/search.php [L]

# SETTINGS EMPLOYEES INFO
RewriteRule ^employeesInfo$ controllers/employees-info/employeesInfo.php [L]
RewriteRule ^employeesInfo/([0-9]+)$ controllers/employees-info/employeesInfo.php?employeesInfoid=$1 [L]
RewriteRule ^employeesInfo/family-info/([0-9]+)$ controllers/employees-info/update-family.php?employeesInfoid=$1 [L]

# SETTINGS ANNOUNCEMENT
RewriteRule ^announcement$ controllers/announcement/announcement.php [L]
RewriteRule ^announcement/([0-9]+)$ controllers/announcement/announcement.php?announcementid=$1 [L]
RewriteRule ^announcement/active/([0-9]+)$ controllers/announcement/active.php?announcementid=$1 [L]
RewriteRule ^announcement/page/([0-9]+)$ controllers/announcement/page.php?start=$1 [L]
RewriteRule ^announcement/search$ controllers/announcement/search.php [L]

# SETTINGS JOB LEVEL
RewriteRule ^job_level$ controllers/settings/job/job-level/jobLevel.php [L]
RewriteRule ^job_level/([0-9]+)$ controllers/settings/job/job-level/jobLevel.php?job_levelid=$1 [L]
RewriteRule ^job_level/active/([0-9]+)$ controllers/settings/job/job-level/active.php?job_levelid=$1 [L]
RewriteRule ^job_level/page/([0-9]+)$ controllers/settings/job/job-level/page.php?start=$1 [L]
RewriteRule ^job_level/search$ controllers/settings/job/job-level/search.php [L]

# SETTINGS JOB TITLE
RewriteRule ^job_title$ controllers/settings/job/job-title/jobTitle.php [L]
RewriteRule ^job_title/([0-9]+)$ controllers/settings/job/job-title/jobTitle.php?job_titleid=$1 [L]
RewriteRule ^job_title/active/([0-9]+)$ controllers/settings/job/job-title/active.php?job_titleid=$1 [L]
RewriteRule ^job_title/page/([0-9]+)$ controllers/settings/job/job-title/page.php?start=$1 [L]
RewriteRule ^job_title/search$ controllers/settings/job/job-title/search.php [L]
RewriteRule ^job_title/search-job-level$ controllers/settings/job/job-title/search-job-level.php [L]

# SETTINGS LEAVE TYPE
RewriteRule ^leave_type$ controllers/settings/leave/leave-type/leaveType.php [L]
RewriteRule ^leave_type/([0-9]+)$ controllers/settings/leave/leave-type/leaveType.php?leave_typeid=$1 [L]
RewriteRule ^leave_type/active/([0-9]+)$ controllers/settings/leave/leave-type/active.php?leave_typeid=$1 [L]
RewriteRule ^leave_type/page/([0-9]+)$ controllers/settings/leave/leave-type/page.php?start=$1 [L]
RewriteRule ^leave_type/search$ controllers/settings/leave/leave-type/search.php [L]

# SETTINGS LEAVE BENEFITS
RewriteRule ^leave_benefits$ controllers/settings/leave/leave-benefits/leaveBenefits.php [L]
RewriteRule ^leave_benefits/([0-9]+)$ controllers/settings/leave/leave-benefits/leaveBenefits.php?leave_benefitsid=$1 [L]
RewriteRule ^leave_benefits/active/([0-9]+)$ controllers/settings/leave/leave-benefits/active.php?leave_benefitsid=$1 [L]
RewriteRule ^leave_benefits/page/([0-9]+)$ controllers/settings/leave/leave-benefits/page.php?start=$1 [L]
RewriteRule ^leave_benefits/search$ controllers/settings/leave/leave-benefits/search.php [L]
RewriteRule ^leave_benefits/filter-job-title$ controllers/settings/leave/leave-benefits/filter-job-title.php [L]

# SETTINGS NOTIFICATION
RewriteRule ^notification$ controllers/settings/notification/notification.php [L]
RewriteRule ^notification/([0-9]+)$ controllers/settings/notification/notification.php?notificationid=$1 [L]
RewriteRule ^notification/active/([0-9]+)$ controllers/settings/notification/active.php?notificationid=$1 [L]
RewriteRule ^notification/page/([0-9]+)$ controllers/settings/notification/page.php?start=$1 [L]
RewriteRule ^notification/search$ controllers/settings/notification/search.php [L]
RewriteRule ^notification/search-employees$ controllers/settings/notification/search-employees.php [L]

# SETTINGS SUBSCRIBERS
RewriteRule ^subscribers$ controllers/settings/subscribers/subscribers-list/subscribers.php [L]
RewriteRule ^subscribers/([0-9]+)$ controllers/settings/subscribers/subscribers-list/subscribers.php?subscribersid=$1 [L]
RewriteRule ^subscribers/active/([0-9]+)$ controllers/settings/subscribers/subscribers-list/active.php?subscribersid=$1 [L]
RewriteRule ^subscribers/page/([0-9]+)$ controllers/settings/subscribers/subscribers-list/page.php?start=$1 [L]
RewriteRule ^subscribers/search$ controllers/settings/subscribers/subscribers-list/search.php [L]
RewriteRule ^subscribers/read-all-subscribers-log-by-id$ controllers/settings/subscribers/subscribers-list/read-all-subscribers-log-by-id.php [L]

# SETTINGS FEATURES
RewriteRule ^features$ controllers/settings/subscribers/features/features.php [L]
RewriteRule ^features/([0-9]+)$ controllers/settings/subscribers/features/features.php?featuresid=$1 [L]
RewriteRule ^features/active/([0-9]+)$ controllers/settings/subscribers/features/active.php?featuresid=$1 [L]
RewriteRule ^features/page/([0-9]+)$ controllers/settings/subscribers/features/page.php?start=$1 [L]
RewriteRule ^features/search$ controllers/settings/subscribers/features/search.php [L]

# SETTINGS ADDONS
RewriteRule ^addons$ controllers/settings/subscribers/addons/addons.php [L]
RewriteRule ^addons/([0-9]+)$ controllers/settings/subscribers/addons/addons.php?addonsid=$1 [L]
RewriteRule ^addons/active/([0-9]+)$ controllers/settings/subscribers/addons/active.php?addonsid=$1 [L]
RewriteRule ^addons/page/([0-9]+)$ controllers/settings/subscribers/addons/page.php?start=$1 [L]
RewriteRule ^addons/search$ controllers/settings/subscribers/addons/search.php [L]
RewriteRule ^addons/search-features$ controllers/settings/subscribers/addons/search-features.php [L]
RewriteRule ^addons/search-subscribers$ controllers/settings/subscribers/addons/search-subscribers.php [L]